In [1]:
import pandas as pd 
import numpy as np

In [12]:
result = pd.read_csv('/Users/wuyoscar/Downloads/Jobs_record')

,filename,lower bound,upper bound,exec_time,solutions,path
0,"['VU1', 'NSGA2', 'Iteration-250', 'Obj-2', 'Va...","[-3, -3]","[3, 3]",2.960521,200,/home/582/ow6835/MOOP/Result/VU1/NSGA2_VU1/VU1...
1,"['VU2', 'RNSGA2', 'Iteration-250', 'Obj-2', 'V...","[-3, -3]","[3, 3]",5.891612,200,/home/582/ow6835/MOOP/Result/VU2/RNSGA2_VU2/VU...
2,"['ZDT1', 'NSGA2', 'Iteration-250', 'Obj-2', 'V...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",2.945352,200,/home/582/ow6835/MOOP/Result/ZDT1/NSGA2_ZDT1/Z...
3,"['ZDT1', 'NSGA2', 'Iteration-250', 'Obj-2', 'V...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",3.224149,200,/home/582/ow6835/MOOP/Result/ZDT1/NSGA2_ZDT1/Z...
4,"['LTDZ1', 'RNSGA2', 'Iteration-250', 'Obj-3', ...","[0, 0, 0]","[1, 1, 1]",6.896966,200,/home/582/ow6835/MOOP/Result/LTDZ1/RNSGA2_LTDZ...
...,...,...,...,...,...,...
121,"['VU1', 'AGNOMEN', 'Iteration-25000', 'Obj-2',...","[-3, -3]","[3, 3]",734.905577,100,/home/582/ow6835/MOOP/Result/VU1/AGNOMEN_VU1/V...
122,"['ZDT2', 'RNSGA2', 'Iteration-25000', 'Obj-2',...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",753.784690,200,/home/582/ow6835/MOOP/Result/ZDT2/RNSGA2_ZDT2/...
123,"['ZDT3', 'AGNOMEN', 'Iteration-25000', 'Obj-2'...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",734.690262,100,/home/582/ow6835/MOOP/Result/ZDT3/AGNOMEN_ZDT3...
124,"['VU2', 'AGNOMEN', 'Iteration-25000', 'Obj-2',...","[-3, -3]","[3, 3]",877.134194,100,/home/582/ow6835/MOOP/Result/VU2/AGNOMEN_VU2/V...
125,"['LTDZ1', 'AGNOMEN', 'Iteration-25000', 'Obj-3...","[0, 0, 0]","[1, 1, 1]",1053.024708,100,/home/582/ow6835/MOOP/Result/LTDZ1/AGNOMEN_LTD...

In [77]:
result[["Problem", "Alg_name", "Iteration","Objectives", "n_variables"]] = result.filename.apply(lambda x: re.sub(r'[\[\]\']',"",str(x))).str.split(pat=",", expand=True)

In [83]:
#result.iloc[:,1:].columns
column_name = ['Problem', 'Alg_name', 'Iteration', 'Objectives', 'n_variables','lower bound', 'upper bound', 'exec_time', 'solutions', 'path']
result = result[column_name].copy()

In [91]:
result = result.sort_values(['Problem','Alg_name']).reset_index(drop=True)

In [92]:
result.columns

Index(['Problem', 'Alg_name', 'Iteration', 'Objectives', 'n_variables',
       'lower bound', 'upper bound', 'exec_time', 'solutions', 'path'],
      dtype='object')