In [3]:
import pandas as pd 
import numpy as np

In [7]:
result = pd.read_csv('/Users/wuyoscar/Downloads/Jobs_record')
#result = pd.read_csv('Jobs_record')
result

,Problem,Alg_name,Iteration,Objectives,n_variables,lower_bound,upper_bound,exec_time,solutions,path
0,VU1,NSGA2,250,2,2,[-3 -3],[3 3],3.021729,200,/home/582/ow6835/MOOP/Result/VU1/NSGA2_VU1/VU1...
1,VU1,NSGA3,250,2,2,[-3 -3],[3 3],3.591368,100,/home/582/ow6835/MOOP/Result/VU1/NSGA3_VU1/VU1...
2,VU1,RNSGA2,250,2,2,[-3 -3],[3 3],5.668295,200,/home/582/ow6835/MOOP/Result/VU1/RNSGA2_VU1/VU...
3,VU1,AGNOMEN,250,2,2,[-3 -3],[3 3],7.670150,100,/home/582/ow6835/MOOP/Result/VU1/AGNOMEN_VU1/V...
4,VU1,MOEAD,250,2,2,[-3 -3],[3 3],18.765060,100,/home/582/ow6835/MOOP/Result/VU1/MOEAD_VU1/VU1...
...,...,...,...,...,...,...,...,...,...,...
82,ZDT2,RNSGA2,2500,2,20,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,72.600155,200,/home/582/ow6835/MOOP/Result/ZDT2/RNSGA2_ZDT2/...
83,LTDZ1,MOEAD,2500,3,3,[0 0 0],[1 1 1],205.017709,100,/home/582/ow6835/MOOP/Result/LTDZ1/MOEAD_LTDZ1...
84,TKLY1,NSGA2,25000,2,4,[0.1 0. 0. 0. ],[1 1 1 1],281.385572,200,/home/582/ow6835/MOOP/Result/TKLY1/NSGA2_TKLY1...
85,ZDT1,MOEAD,2500,2,10,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.],[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.],180.890106,100,/home/582/ow6835/MOOP/Result/ZDT1/MOEAD_ZDT1/Z...
86,ZDT1,MOEAD,2500,2,20,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. ...,184.098584,100,/home/582/ow6835/MOOP/Result/ZDT1/MOEAD_ZDT1/Z...

In [9]:
import time 

ref_value = 3
def calculate_hv(result):
    path = result['path']
    F = np.loadtxt(path)
    ref_dir = np.ones(F.shape[1])*ref_value
    metric = Hypervolume(nds=True,ref_point = ref_dir,norm_ref_point=False)
    start_time = time.time()
    hv = metric.do(F)
    exc_time = time.time() - start_time
    return [hv,exc_time,ref_dir]

get = result.apply(calculate_hv, axis=1)

df = pd.DataFrame(get.tolist(), columns = ['hv','hv_exc_time','hv_ref'])

final_result = pd.concat([result, df],axis=1)

output_result = final_result[['Problem', 'Alg_name', 'Iteration', 'Objectives', 'n_variables',
    'exec_time', 'solutions', 'hv',
    'hv_exc_time', 'hv_ref', 
    'lower_bound', 'upper_bound','path']]

0     [/home/582/ow6835/MOOP/Result/VU1/NSGA2_VU1/VU...
1     [/home/582/ow6835/MOOP/Result/VU1/NSGA3_VU1/VU...
2     [/home/582/ow6835/MOOP/Result/VU1/RNSGA2_VU1/V...
3     [/home/582/ow6835/MOOP/Result/VU1/AGNOMEN_VU1/...
4     [/home/582/ow6835/MOOP/Result/VU1/MOEAD_VU1/VU...
                            ...
82    [/home/582/ow6835/MOOP/Result/ZDT2/RNSGA2_ZDT2...
83    [/home/582/ow6835/MOOP/Result/LTDZ1/MOEAD_LTDZ...
84    [/home/582/ow6835/MOOP/Result/TKLY1/NSGA2_TKLY...
85    [/home/582/ow6835/MOOP/Result/ZDT1/MOEAD_ZDT1/...
86    [/home/582/ow6835/MOOP/Result/ZDT1/MOEAD_ZDT1/...
Length: 87, dtype: object

In [12]:
arr_1 = np.loadtxt('/Users/wuyoscar/Downloads/VU1_NSGA3_Iteration-25000_Obj-2_Var-2.594ad572-96db-413a-9acb-2fd7caf4d524')

arr_1.shape

(100, 2)

In [15]:
np.ones(3)*10

array([10., 10., 10.])

In [16]:
from datetime import datetime

date = datetime.now().strftime("%Y_%m_%d-%I:%M:%S_%p")
print(f"filename_{date}")

filename_2021_10_27-01:55:29_PM