In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('/Users/wuyoscar/Documents/Project/MOOP/Result/50Million-Result')

In [25]:
df = df.sort_values(['Problem', 'Alg_name', 'Iteration','Evaluations', 'Objectives','n_variables'])
df

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
14,KUR1,AGNOMEN,500000,50000000,2,2,[-5.05 -5.05],[5. 5.],13581.180147,[-7.21736514e+00 2.18325861e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
16,KUR1,AGNOMEN,500000,50000000,2,3,[-5.05 -5.05 -5.05],[5. 5. 5.],12744.641698,[-1.44369421e+01 3.36475393e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
18,KUR1,AGNOMEN,500000,50000000,2,4,[-5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5.],14054.189155,[-2.16531951e+01 1.12373815e-07],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
19,KUR1,AGNOMEN,500000,50000000,2,5,[-5.05 -5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5. 5.],12762.316965,[-2.88707639e+01 1.23197724e-07],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
10,KUR1,NSGA2,500000,50000000,2,2,[-5.05 -5.05],[5. 5.],5227.832469,[-7.21773196e+00 7.99402339e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_2...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
13,KUR1,NSGA2,500000,50000000,2,3,[-5.05 -5.05 -5.05],[5. 5. 5.],4989.603527,[-1.44354640e+01 3.96615413e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_3...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
15,KUR1,NSGA2,500000,50000000,2,4,[-5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5.],5066.205252,[-2.16531949e+01 3.13770943e-10],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_4...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
17,KUR1,NSGA2,500000,50000000,2,5,[-5.05 -5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5. 5.],5584.012155,[-2.88709264e+01 4.85385575e-10],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_5...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
11,LTDZ1,AGNOMEN,500000,50000000,3,3,[0 0 0],[1 1 1],21638.296182,[-1.91568239 -1.92996383 -2. ],100,100,/home/582/ow6835/MOOP/Result/LTDZ1/AGNOMEN_LTD...,/home/582/ow6835/MOOP/Result/Images/LTDZ1/AGNO...
3,LTDZ1,NSGA2,500000,50000000,3,3,[0 0 0],[1 1 1],5265.761992,[-2. -2. -2.],100,100,/home/582/ow6835/MOOP/Result/LTDZ1/NSGA2_LTDZ1...,/home/582/ow6835/MOOP/Result/Images/LTDZ1/NSGA...
9,SK2,AGNOMEN,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],12809.775975,[34.15185502 0.61529185],100,100,/home/582/ow6835/MOOP/Result/SK2/AGNOMEN_SK2_4...,/home/582/ow6835/MOOP/Result/Images/SK2/AGNOME...
5,SK2,NSGA2,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],4870.022122,[34.1518613 0.61529145],100,100,/home/582/ow6835/MOOP/Result/SK2/NSGA2_SK2_4/S...,/home/582/ow6835/MOOP/Result/Images/SK2/NSGA2_...
12,SK2_TYPO,AGNOMEN,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],12959.943039,[16.59132326 0.43201899],100,100,/home/582/ow6835/MOOP/Result/SK2_TYPO/AGNOMEN_...,/home/582/ow6835/MOOP/Result/Images/SK2_TYPO/A...
8,SK2_TYPO,NSGA2,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],4865.705191,[16.59131401 0.43201723],100,100,/home/582/ow6835/MOOP/Result/SK2_TYPO/NSGA2_SK...,/home/582/ow6835/MOOP/Result/Images/SK2_TYPO/N...
4,TKLY1,AGNOMEN,500000,50000000,2,4,[0 0 0 0],[1 1 1 1],15038.398105,[ 1.09999915 14.1890026 ],100,100,/home/582/ow6835/MOOP/Result/TKLY1/AGNOMEN_TKL...,/home/582/ow6835/MOOP/Result/Images/TKLY1/AGNO...
0,TKLY1,NSGA2,500000,50000000,2,4,[0 0 0 0],[1 1 1 1],5015.728100,[ 1.1 14.1890026],100,100,/home/582/ow6835/MOOP/Result/TKLY1/NSGA2_TKLY1...,/home/582/ow6835/MOOP/Result/Images/TKLY1/NSGA...
6,VU1,AGNOMEN,500000,50000000,2,2,[-3. -3.],[3. 3.],17299.870161,[ 1. 37.],100,100,/home/582/ow6835/MOOP/Result/VU1/AGNOMEN_VU1_2...,/home/582/ow6835/MOOP/Result/Images/VU1/AGNOME...
1,VU1,NSGA2,500000,50000000,2,2,[-3. -3.],[3. 3.],5199.784480,[ 1. 37.],100,100,/home/582/ow6835/MOOP/Result/VU1/NSGA2_VU1_2/V...,/home/582/ow6835/MOOP/Result/Images/VU1/NSGA2_...
7,VU2,AGNOMEN,500000,50000000,2,2,[-3. -3.],[3. 3.],19164.392457,[-2.00000002 2. ],100,100,/home/582/ow6835/MOOP/Result/VU2/AGNOMEN_VU2_2...,/home/582/ow6835/MOOP/Result/Images/VU2/AGNOME...
2,VU2,NSGA2,500000,50000000,2,2,[-3. -3.],[3. 3.],5254.906234,[-2.00000002 2. ],100,100,/home/582/ow6835/MOOP/Result/VU2/NSGA2_VU2_2/V...,/home/582/ow6835/MOOP/Result/Images/VU2/NSGA2_...
20,ZDT1,NSGA2,500000,50000000,2,10,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.],[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.],5007.286016,[1. 1.],100,100,/home/582/ow6835/MOOP/Result/ZDT1/NSGA2_ZDT1_1...,/home/582/ow6835/MOOP/Result/Images/ZDT1/NSGA2...
22,ZDT2,NSGA2,500000,50000000,2,10,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.],[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.],5617.633180,[1. 1.],100,100,/home/582/ow6835/MOOP/Result/ZDT2/NSGA2_ZDT2_1...,/home/582/ow6835/MOOP/Result/Images/ZDT2/NSGA2...
21,ZDT3,NSGA2,500000,50000000,2,10,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.],[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.],5188.160075,[0.85183289 1. ],100,100,/home/582/ow6835/MOOP/Result/ZDT3/NSGA2_ZDT3_1...,/home/582/ow6835/MOOP/Result/Images/ZDT3/NSGA2...

In [29]:
df.loc[df['Problem'] =='KUR1']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
14,KUR1,AGNOMEN,500000,50000000,2,2,[-5.05 -5.05],[5. 5.],13581.180147,[-7.21736514e+00 2.18325861e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
16,KUR1,AGNOMEN,500000,50000000,2,3,[-5.05 -5.05 -5.05],[5. 5. 5.],12744.641698,[-1.44369421e+01 3.36475393e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
18,KUR1,AGNOMEN,500000,50000000,2,4,[-5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5.],14054.189155,[-2.16531951e+01 1.12373815e-07],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
19,KUR1,AGNOMEN,500000,50000000,2,5,[-5.05 -5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5. 5.],12762.316965,[-2.88707639e+01 1.23197724e-07],100,100,/home/582/ow6835/MOOP/Result/KUR1/AGNOMEN_KUR1...,/home/582/ow6835/MOOP/Result/Images/KUR1/AGNOM...
10,KUR1,NSGA2,500000,50000000,2,2,[-5.05 -5.05],[5. 5.],5227.832469,[-7.21773196e+00 7.99402339e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_2...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
13,KUR1,NSGA2,500000,50000000,2,3,[-5.05 -5.05 -5.05],[5. 5. 5.],4989.603527,[-1.44354640e+01 3.96615413e-11],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_3...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
15,KUR1,NSGA2,500000,50000000,2,4,[-5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5.],5066.205252,[-2.16531949e+01 3.13770943e-10],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_4...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...
17,KUR1,NSGA2,500000,50000000,2,5,[-5.05 -5.05 -5.05 -5.05 -5.05],[5. 5. 5. 5. 5.],5584.012155,[-2.88709264e+01 4.85385575e-10],100,100,/home/582/ow6835/MOOP/Result/KUR1/NSGA2_KUR1_5...,/home/582/ow6835/MOOP/Result/Images/KUR1/NSGA2...

In [26]:
df.loc[df['Problem'] =='VU1']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
6,VU1,AGNOMEN,500000,50000000,2,2,[-3. -3.],[3. 3.],17299.870161,[ 1. 37.],100,100,/home/582/ow6835/MOOP/Result/VU1/AGNOMEN_VU1_2...,/home/582/ow6835/MOOP/Result/Images/VU1/AGNOME...
1,VU1,NSGA2,500000,50000000,2,2,[-3. -3.],[3. 3.],5199.784480,[ 1. 37.],100,100,/home/582/ow6835/MOOP/Result/VU1/NSGA2_VU1_2/V...,/home/582/ow6835/MOOP/Result/Images/VU1/NSGA2_...

In [27]:
df.loc[df['Problem'] =='VU2']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
7,VU2,AGNOMEN,500000,50000000,2,2,[-3. -3.],[3. 3.],19164.392457,[-2.00000002 2. ],100,100,/home/582/ow6835/MOOP/Result/VU2/AGNOMEN_VU2_2...,/home/582/ow6835/MOOP/Result/Images/VU2/AGNOME...
2,VU2,NSGA2,500000,50000000,2,2,[-3. -3.],[3. 3.],5254.906234,[-2.00000002 2. ],100,100,/home/582/ow6835/MOOP/Result/VU2/NSGA2_VU2_2/V...,/home/582/ow6835/MOOP/Result/Images/VU2/NSGA2_...

In [28]:

df.loc[df['Problem'] =='TKLY1']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
4,TKLY1,AGNOMEN,500000,50000000,2,4,[0 0 0 0],[1 1 1 1],15038.398105,[ 1.09999915 14.1890026 ],100,100,/home/582/ow6835/MOOP/Result/TKLY1/AGNOMEN_TKL...,/home/582/ow6835/MOOP/Result/Images/TKLY1/AGNO...
0,TKLY1,NSGA2,500000,50000000,2,4,[0 0 0 0],[1 1 1 1],5015.728100,[ 1.1 14.1890026],100,100,/home/582/ow6835/MOOP/Result/TKLY1/NSGA2_TKLY1...,/home/582/ow6835/MOOP/Result/Images/TKLY1/NSGA...

In [30]:
df.loc[df['Problem'] =='LTDZ1']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
11,LTDZ1,AGNOMEN,500000,50000000,3,3,[0 0 0],[1 1 1],21638.296182,[-1.91568239 -1.92996383 -2. ],100,100,/home/582/ow6835/MOOP/Result/LTDZ1/AGNOMEN_LTD...,/home/582/ow6835/MOOP/Result/Images/LTDZ1/AGNO...
3,LTDZ1,NSGA2,500000,50000000,3,3,[0 0 0],[1 1 1],5265.761992,[-2. -2. -2.],100,100,/home/582/ow6835/MOOP/Result/LTDZ1/NSGA2_LTDZ1...,/home/582/ow6835/MOOP/Result/Images/LTDZ1/NSGA...

In [31]:
df.loc[df['Problem'] =='SK2']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
9,SK2,AGNOMEN,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],12809.775975,[34.15185502 0.61529185],100,100,/home/582/ow6835/MOOP/Result/SK2/AGNOMEN_SK2_4...,/home/582/ow6835/MOOP/Result/Images/SK2/AGNOME...
5,SK2,NSGA2,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],4870.022122,[34.1518613 0.61529145],100,100,/home/582/ow6835/MOOP/Result/SK2/NSGA2_SK2_4/S...,/home/582/ow6835/MOOP/Result/Images/SK2/NSGA2_...

In [33]:
df.loc[df['Problem'] =='SK2_TYPO']

,Problem,Alg_name,Iteration,Evaluations,Objectives,n_variables,xl,xu,exec_time,approx_nadir,solutions_shape,pop_size,path,image_location
12,SK2_TYPO,AGNOMEN,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],12959.943039,[16.59132326 0.43201899],100,100,/home/582/ow6835/MOOP/Result/SK2_TYPO/AGNOMEN_...,/home/582/ow6835/MOOP/Result/Images/SK2_TYPO/A...
8,SK2_TYPO,NSGA2,500000,50000000,2,4,[-10. -10. -10. -10.],[10. 10. 10. 10.],4865.705191,[16.59131401 0.43201723],100,100,/home/582/ow6835/MOOP/Result/SK2_TYPO/NSGA2_SK...,/home/582/ow6835/MOOP/Result/Images/SK2_TYPO/N...

In [1]:
import requests 
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from time import sleep

In [10]:
search_input = 'Jianxin' +' Deakin'

driver = webdriver.Chrome()
driver.get("https://scholar.google.com")
#google schloar seach input
#search = driver.find_element_by_id('gs_hdr_tsi')
search = driver.find_element_by_css_selector('input[name= "q"]')

search.send_keys(search_input)# search professor name
search.send_keys(Keys.RETURN) #return result
sleep(5)
#if professor has profile page

try:
    profile_url = driver.find_element_by_css_selector('h4.gs_rt2>a').get_attribute('href')
    driver.get(profile_url) # get profile page
    sleep(5)
    #use soup to get content on profile page
    webpage_response = requests.get(profile_url, 'html.parsers')
    webpage = BeautifulSoup(webpage_response.content, "html.parser")
    #get citation information and store in list
    citation = [i.string for i in webpage.find_all('td', {'class':"gsc_rsb_std"})]
    
#if professor has no such profile page
except NoSuchElementException:
    citation = ['na' for i in range(6)] 
    pass
print(citation)

/var/folders/tc/s1vsgctn4gn_n76ylgwmdwrw0000gn/T/ipykernel_13347/3319657275.py:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_css_selector('input[name= "q"]')
/var/folders/tc/s1vsgctn4gn_n76ylgwmdwrw0000gn/T/ipykernel_13347/3319657275.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  profile_url = driver.find_element_by_css_selector('h4.gs_rt2>a').get_attribute('href')

['1833', '1455', '23', '20', '48', '42']